@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #141414;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);

}


h1 {
    display: grid;
    grid-column: 5/ 9;
    grid-row: 2;
    padding-bottom: 20px;
    font-family: Orbitron, 'Times New Roman', Times, serif;
    color: rgb(160, 160, 160);
    font-size: 1.2em;
    margin-top: -50px;
    margin-left: 50px;

}

.to-home {
    display: flex;
    grid-column: 4/9;
    grid-row: 5;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 530px;
    margin-left: 140px;
    font-size: 1.2em;
    background-color: rgb(63, 63, 63);
    color: white;
    border-radius: 10px;
    margin-top: 40px;
    font-family: Orbitron;
    letter-spacing: 0.1em;


}

.back {
    background-color: #A8A8A8;
    height: 250px;
    width: 750px;
    z-index: -5;
    grid-column: 3/12;
    grid-row: 3;
    margin-left: 130px;
    border-radius: 10px;
    margin-top: 20px;
}

.square{
    display: grid;
    grid-column: 5;
    grid-row: 3;
    height: 120px;
    width: 40px;
    border: 5px solid rgb(94, 94, 94);
    border-radius: 6px;
    border-top: none;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 80px;
    

}

.square:before {
    content: "";
    width: 150px;
    height: 150px;
    background-color: #ee0000;
    position: absolute;
    left: 50%;
    border-radius: 40%;
    transform: translateX(-50%);
    animation: fill 10s ease-in-out infinite;
    z-index: -1;
    animation-delay: -2s;
   

}

@keyframes fill {
    from {
        top: 150px;
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        top: 8px;
        transform: translateX(-50%) rotate(360deg);
    }
} 

.square-2 {
    display: grid;
    grid-column: 6;
    grid-row: 3;
    height: 120px;
    width: 40px;
    border: 5px solid rgb(94, 94, 94);;
    border-radius: 6px;
    border-top: none;
    position: relative;
    overflow: hidden;
    margin-left: 150px;
    margin-top: 45px;


}

.square-2:before {
    content: "";
    width: 150px;
    height: 150px;
    background-color: #ffd622;
    position: absolute;
    left: 50%;
    border-radius: 40%;
    transform: translateX(-50%);
    animation: fill-2 12s ease-in-out infinite;
    z-index: -1;
    animation-delay: -2s;
    

}

@keyframes fill-2 {
    from {
        top: 200px;
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        top: 8px;
        transform: translateX(-50%) rotate(360deg);
    }
} 




.square-3{
    display: grid;
    grid-column: 7;
    grid-row: 3;
    height: 120px;
    width: 40px;
    border: 5px solid rgb(94, 94, 94);
    border-radius: 6px;
    border-top: none;
    position: relative;
    overflow: hidden;
    margin-left: 150px;
    margin-top: 50px;

    
} 

.square-3:before {
    content: "";
    width: 150px;
    height: 150px;
    background-color: #00acee;
    position: absolute;
    left: 50%;
    border-radius: 40%;
    transform: translateX(-50%);
    animation: fill-3 12s ease-in-out infinite;
    z-index: -1;

}


@keyframes fill-3 {
    from {
        top: 200px;
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        top: 8px;
        transform: translateX(-50%) rotate(360deg);
    }
} 
